@tailwind utilities;

/* base styles */

._GzYRV {
  line-height: 1.2;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

._3eOF8 {
  margin-right: 5px;
  font-weight: bold;
}

._1MFti {
  cursor: pointer;
}

._f10Tu {
  font-size: 1.2em;
  margin-right: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

._1UmXx::after {
  content: '\25B8';
}

._1LId0::after {
  content: '\25BE';
}

._1pNG9 {
  margin-right: 5px;
}

._1pNG9::after {
  content: '...';
  font-size: 0.8em;
}

._2IvMF {
  @apply bg-background rounded-sm border-faint border;
}

._2bkNM {
  margin: 0 10px;
  padding: 0.3rem 0.1rem;
}

/* default light style */

._1MGIk,
._vGjyY,
._3uHL6,
._oLqym,
._2KJWg,
._2AXVT {
  @apply text-foreground;
}

._1xvuR {
  @apply text-foreground/60;
}

._1MGIk {
  font-weight: 600;
  margin-right: 5px;
}

._1Gho6,
._2T6PJ {
  @apply text-destructive;
}

._1bQdo {
  @apply text-primary;
}

._3zQKs {
  @apply text-secondary;
}
