@import './theme.css';
@import './react-select.css';
@import './typography.css';
@import './components.css';
@import './utilities.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Archivo';
  src: url('/Archivo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PowerGrotesk';
  src: url('/PowerGrotesk-Regular.ttf') format('truetype');
}

html {
  @apply scrollbar-none;
  overflow-x: hidden;
  font-family: 'Archivo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
.body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.body {
  display: grid;
  grid-template-rows: max-content 1fr; /* Navbar takes max-content, children takes remaining space */
}

.children {
  display: flex;
  flex-direction: column;
  width: 100%; /* Use 100% of available space within parent */
  height: 100%; /* Make sure it grows to fill the available space */
  padding: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
  overflow-y: auto; /* Scroll only within the children */
  min-height: 0; /* Important to avoid unwanted overflow in grid children */
  @apply scrollbar-none; /* Custom Tailwind scrollbar styles */
}
