@layer base {
  :root {
    --primary: 207 100% 60%;
    --primary-foreground: 0 0% 100%;

    --accent: 32 100% 94%;
    --accent-foreground: 224 5% 15%;

    --destructive: 0 84% 41%;
    --destructive-foreground: 0 0% 100%;

    --chart-1: 16 100% 66%;
    --chart-2: 157 61% 63%;
    --chart-3: 36 3% 32%;
    --chart-4: 47 100% 68%;
    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }

  :root,
  [data-theme='light'] {
    --background: 0 0% 100%;
    --foreground: 224 5% 10%;
    --card: 30 100% 98%;
    --card-foreground: 224 5% 15%;
    --popover: 180 20% 98%;
    --popover-foreground: 224 95% 10%;
    --secondary: 16 100% 66%;
    --secondary-foreground: 0 0% 100%;
    --muted: 30 22% 94%;
    --muted-foreground: 25 5% 44%;
    --border: 211 21% 80%;
    --input: 211 21% 70%;
    --ring: 207 100% 60%;
  }

  [data-theme='dark'] {
    --background: 222 22% 9%;
    --foreground: 0 0% 100%;
    --card: 222 21% 12%;
    --card-foreground: 0 0% 100%;
    --popover: 220 27% 13%;
    --popover-foreground: 0 0% 100%;
    --secondary: 16 100% 66%;
    --secondary-foreground: 0 0% 0%;
    --muted: 222 22% 22%;
    --muted-foreground: 0 0% 60%;
    --border: 221 27% 20%;
    --input: 212 30% 24%;
    --ring: 212 56% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
