@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  width: 100vw;
  height: 100vh;
}

.content {
  position: sticky;
  top: 0;
  left: 0;
  padding: 1.5rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  overflow: hidden scroll;
}

.navbar-c {
  padding: 0.3rem;
  position: sticky;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  width: max-content;
}
