@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  width: 100vw;
  min-height: 100vh;
  padding: 1.5rem;
  padding-top: 7rem;
  padding-bottom: 10rem;
}

.navbar-c {
  align-items: center;
  padding: 0.3rem;
  position: fixed;
  display: flex;
  justify-content: center;
  gap: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: max-content;
}
